@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Aestetico;
  src: url("../public/fonts/Aestetico-Regular/font.woff2") format("woff2"),
    url("../public/fonts/Aestetico-Regular/font.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: Aestetico;
  src: url("../public/fonts/Aestetico-Bold/font.woff2") format("woff2"),
    url("../public/fonts/Aestetico-Bold/font.woff") format("woff");
  font-weight: 700;
}

.h-screen-section {
  min-height: 360px;
}

@screen md {
  .h-screen-section {
    @apply h-screen;
    min-height: 720px;
  }
}

@screen sm {
  .w-45vw {
    width: 45vw;
  }
}
